
.table {
  width: 100%;
  border-collapse: collapse;
}

.table th,
.table td {
  border: 1px solid black;
  padding: 10px;
  text-align: center;
}


button {
  margin: 5px;
}

.add-button {
  margin-top: 20px;
  padding: 10px 20px;
  background-color: #4CAF50;
  color: white;
  border: none;
  cursor: pointer;
}

.add-button:hover {
  background-color: #45a049;
}
